<mat-toolbar style=" background-color: white;">
  <span class="example-spacer"></span>
  <span>LISTA EQUIPOS</span>
  <span class="example-spacer"></span>
</mat-toolbar>

<form class="form-inline" th:action= "@{/}"
(ngSubmit) = "onSubmit()">
  <div class="form-group mb-2">
    <label>Filtrar: </label>
  </div>

  <div class="form-group mx-sm-3 mb-2">
    <input type="text" name="nombreEquipo" class="form-control" id="nombreEquipo" [(ngModel)]="nombreEquipo" placeholder="Digite el Nombre">
  </div>

  <input type="submit" class="btn btn-info mb-2" value="Buscar" (click)="buscarEquipo()">

  &nbsp;&nbsp;
  <input type="button" class="btn btn-secondary mb-2" value="Regresar" (click)="regresar()">
</form>

<br>


<table class="table table-striped">
    <thead class="table-dark">
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Ubicación</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor= "let equipo of equipos">
            <td>{{equipo.idEquipo}}</td>
            <td>{{equipo.nombreEquipo}}</td>
            <td>{{equipo.ubicacionEquipo}}</td>
            <td>
              <!-- <td><button (click)="abrirEditarEquipo(equipo.idEquipo)" class="btn btn-info">Editar</button></td>
              <td><button (click)="eliminarEquipo(equipo.idEquipo)" class="btn btn-danger">Eliminar</button></td> -->
              <button mat-icon-button (click)="abrirEditarEquipo(equipo.idEquipo)" class="btn" style="color: #1f516f;">
                <mat-icon>edit</mat-icon>
              </button>

              <button mat-icon-button (click)="eliminarEquipo(equipo.idEquipo)" class="btn" style="color: #E15639;">
                <mat-icon>delete</mat-icon>
              </button>
            </td>
        </tr>
    </tbody>
</table>

