<mat-toolbar style=" background-color: white;">
  <span class="example-spacer"></span>
  <span>REGISTRO EQUIPO</span>
  <span class="example-spacer"></span>
</mat-toolbar>

<div class="col-md-6 offset-md-3">
  <form (ngSubmit)="onSubmit()">

      <div class="form-group">
          <label>Nombre del Equipo</label>
          <input type="text"
          class="form-control"
          id = "nombre"
          [(ngModel)] = "equipo.nombreEquipo"
          name = "nombre">
      </div>

      <div class="form-group">
        <label>Ubicación del Equipo</label>
        <input type="text"
        class="form-control"
        id = "nombre"
        [(ngModel)] = "equipo.ubicacionEquipo"
        name = "nombre">
      </div>



      <div class="form-group">
          <button class="btn btn-primary" style="margin-top: 10px; margin-right: 10px;">Registrar</button>
          <button class="btn btn-danger" style="margin-top: 10px;"><a href="http://localhost:4200/apostador" style="color: white;">Volver</a></button>
      </div>




  </form>
</div>
