<mat-toolbar style=" background-color: white;">
  <span class="example-spacer"></span>
  <span>REGISTRO COMPETENCIA</span>
  <span class="example-spacer"></span>
</mat-toolbar>

<div class="col-md-6 offset-md-3">
  <form (ngSubmit) = "onSubmit()">
    <div class = "form-group">
      <label>Nombre: </label>
      <input type="text" class="form-control" id="nombre" [(ngModel)]= "competencia.nombreCompetencia" name = "Nombre">
    </div>

    <div class="form-group">
      <label>Fecha Inicio: </label>
      <input type="text" class="form-control" id="fechaInicio" [(ngModel)]= "competencia.fechaInicio" name = "fechaInicio"
      required
      #fechaInicio = "ngModel"
      pattern="^\d{4}([\-/.])(0?[1-9]|1[1-2])\1(3[01]|[12][0-9]|0?[1-9])$">
      <div class="alert alert-danger" *ngIf= "fechaInicio.invalid" style="margin-top: 10px;">
        <p>Debe tener el formato correcto: AAAA-MM-DD</p>
      </div>

    </div>

    <div class="form-group">
      <label>Fecha Fin: </label>
      <input type="text" class="form-control" id="fechaFin" [(ngModel)]= "competencia.fechaFin" name = "fechaFin"required
      #fechaFin = "ngModel"
      pattern="^\d{4}([\-/.])(0?[1-9]|1[1-2])\1(3[01]|[12][0-9]|0?[1-9])$">
      <div class="alert alert-danger" *ngIf= "fechaFin.invalid" style="margin-top: 10px;">
        <p>Debe tener el formato correcto: AAAA-MM-DD</p>
      </div>
    </div>

    <div class="form-group">
      <button class="btn btn-primary" style="margin-top: 10px; margin-right: 10px;">Registrar</button>
      <button class="btn btn-danger" style="margin-top: 10px;"><a href="http://localhost:4200/competencias" style="color: white;">Volver</a></button>
    </div>

  </form>
</div>
