<h2 style="background-color: rgb(155, 204, 250);">Detalles de Cuenta (Apostador)</h2>
<div>
    <div>
        <label><b>DNI: </b>{{apostador.dni}}</label>
    </div>
    <div>
        <label><b>Nombre: </b>{{apostador.nombre}}</label>
    </div>
    <div>
        <label><b>Telefono: </b>{{apostador.telefono}}</label>
    </div>
    <div>
        <label><b>Correo: </b>{{apostador.correo}}</label>
    </div>
    <div>
        <label><b>Direccion: </b>{{apostador.direccion}}</label>
    </div>
    <div>
        <label><b>Saldo: </b>{{apostador.saldo}} soles</label>
    </div>
</div>