<div class="col-md-6 offset-md-3">
    <h3 class="text-center"> Registro de apostador</h3>
    <form (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label>DNI*</label>
            <input type = "text"
            class="form-control"
            id = "DNI"
            [(ngModel)] = "apostador.dni"
            name = "DNI"
            required
            minlength="8"
            maxlength="8"
            placeholder="Digite su DNI "
            #nombre = "ngModel"
            >
            
        </div>

        <div class="form-group">
            <label>Nombre*</label>
            <input type="text" 
            class="form-control"
            id = "nombre"
            [(ngModel)] = "apostador.nombre"
            name = "nombre"
            placeholder="Digite su nombre ">
        </div>

        <div class="form-group">
            <label>Telefono*</label>
            <input type = "text"
            class="form-control"
            id = "telefono"
            [(ngModel)] = "apostador.telefono"
            name = "telefono"
            required
            minlength="9"
            maxlength="9"
            placeholder="Digite su teléfono "
            #nombre = "ngModel"
            >
        </div>

        <div class="form-group">
            <label>Correo*</label>
            <input type = "correo"
            class="form-control"
            id = "correo"
            [(ngModel)] = "apostador.correo"
            name = "correo"
            pattern ="[a-zA-Z0-9_]+([.][a-zA-Z0-9_]+)*@[a-zA-Z0-9_]+([.][a-zA-Z0-9_]+)*[.][a-zA-Z]{1,5}"
            required
            placeholder="Digite su correo "
            #email = "ngModel"
            >
            <div class="alert alert-danger" *ngIf= "email.invalid"><p>Debe tener el formato de un correo</p>
            </div>
        </div>

        <div class="form-group">
            <label>Direccion*</label>
            <input type="text" 
            class="form-control"
            id = "direccion"
            [(ngModel)] = "apostador.direccion"
            name = "direccion"
            placeholder="Digite su dirección ">
        </div>

        <div class="form-group">
            <label>Contraseña*</label>
            <input type="password" 
            class="form-control"
            id = "contrasena"
            [(ngModel)] = "apostador.contrasena"
            name = "contrasena"
            placeholder="Digite su contraseña ">
        </div>

        <div class="form-group">
            <button class="btn btn-primary" style="margin-top: 10px; margin-right: 10px;">Registrar</button>  
        </div>
        <div>
            <button class="btn btn-danger" style="margin-top: 10px;"><a href="http://localhost:4200/apostador" style="color: white;">Volver</a></button>
        </div>
        
        

    </form>
</div>
