/* You can add global styles to this file, and also import other style files */
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.form-inline{
  justify-content: right;
}

.valign-center{
  display: inline-flex;
  align-items: center;
}

.example-spacer {
  flex: 1 1 auto;
}
